{% extends "bootstrap/base.html" %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {% block navbar_links %}
    <a class="navbar-brand" href="/">Adepl</a>
    {% endblock navbar_links %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
</nav>
{% endblock %}